.login-container {
    width: 40%;
    min-width: 350px;
    padding: 50px;
    border-radius: 20px;
    border: solid lightgray 2px;
    margin: 70px auto;  
}

.admin-img svg {
    width: 30%;
    height: 30%;
    margin: 0 auto;
    display: block;
}

.admin-img img {
    display: block;
    margin: 0 auto;
    width: 140px;
}

